body{
    background-image:  linear-gradient(150deg,rgb(104, 104, 105),rgb(48, 99, 109),rgba(41, 44, 43, 0.911),rgb(22, 31, 27),rgb(8, 61, 85));
    color:rgb(237, 221, 221); 
}



#content1{
    width: 100vw;
    height:100vh;
    display:block;
    position: relative;
    overflow: hidden;
}

#content1::after{   
    content: "";
    /* background:  url("./background/denver2.jpg"); */
    opacity: 0.5;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: absolute;
    z-index: -1;
    background-size:cover;
}
  
.container1{
    text-align: center;
    position:absolute;
    top:8%;    
    left:8%;
    padding:3%;
    margin:3%;
    width: 75%;
    height:60%;
    background-color: rgb(15, 10, 10);
    opacity: 0.5;
    align-items: center;
    overflow: hidden;
    color: rgb(250, 250, 250);
   }

.container1 span{
  color: rgb(228, 235, 223);
  display:block;
}

.container{
    text-align: center;
    width: 100%;
    background-color: rgb(15, 10, 10);
    opacity: 0.5;
    color: rgb(250, 250, 250);
}
.parallax {
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .part1{
    background-image: url("./background/MERN.jpg");
  }
  .part2{
    background-image: url("./background/frontend.png");
  }
  .part3{
    background-image: url("./background/react-1.png");
  }
  .part4{
    background-image: url("./background/nodejs.png");
  }
#content1 .text1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding-bottom:2.5%;
}

.text1{
    font-size: 65px;
    font-weight: 500;   
    margin-bottom: 20px;
    letter-spacing: 8px;
    background-color: rgb(15, 10, 10);
    position: relative;
    animation: text 3s 1;
    margin-top: 1%;
}

#content1 .text2{
    font-size: 25px;
    font-weight: 250; 
}


 a{
    color: rgb(39, 144, 220);
    font-family:'Nunito Sans';
    letter-spacing:2px;
    text-decoration: solid 1px rgb(70, 152, 228);

}

 
#topnav{
    /* background:linear-gradient(150deg,rgb(58, 53, 53), rgb(15, 10, 10),rgb(207, 203, 194),rgb(61, 51, 49),rgb(160, 157, 152)); */
    background: linear-gradient(150deg,rgb(20, 165, 163),rgb(48, 99, 109),rgba(7, 109, 75, 0.911),rgb(22, 204, 186),rgb(8, 61, 85));
    font-weight: 300;
    width:100vw;
    overflow: hidden;
    position:fixed;
    top:1;
    margin-bottom:1%;
    padding-bottom:1%;
    z-index: 1;
    font-family:  'Cormorant Unicase', serif; 
}

/* #myNavbar{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
 }
 */

.section{
    display: flex;
    flex-wrap: wrap;
}

.navlinks{
    padding-left: 1.5%;
    padding-right: 2%;  
    color: rgb(0, 0, 0);
    border-right:1px solid rgb(39, 4, 4) ;
}


.navbar-header h3{
    font-size: 30px;
    font-weight: 300;
    color: rgb(250, 250, 250);
    letter-spacing: 2px;
}





#content4{
    width: 100vw;
    height:100vh;
    display:block;
    position: relative;
} 
#content4::after{
    content: "";
    background:  url("./background/water1.jpg");
    opacity: 0.5;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: absolute;
    z-index: -1;
    background-size:cover;
} 

.subtitle{
 
    margin-top:1%;
    text-transform: uppercase;
    background: linear-gradient(150deg,rgb(18, 168, 86),rgb(12, 255, 235), rgb(65, 155, 182)); 
    color: rgb(255, 255, 255);
    font-family: Raleway;
}

.sectiontitle{
    margin-top:1%;
    margin-left:1vw;
    animation: bgcolor 4s ;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(21, 228, 228);
    border-top: 2px solid rgb(21, 228, 228);
    font-family: Raleway; 
    padding:1%;
}
.appbody p{
    margin-left: 1vw;
}



.linksection{
    width: 90%;
    margin:3%;
    padding:2%;
}

.linksection ul{
    list-style: none;
}


#gridcontent{
    position: absolute;
    top: 8%;
    left:8%;
    padding: 3%;
    margin: 3%;
    height:60%;
 }

.appbody{
   min-width: 33%;
   max-width: 33%;
}


.appcontent{
   min-width: 25%;
}

.appbodycontent{
    min-width: 33%;
    /* max-width: 33%; */
 
}

.public-icon{
    width: 75px;
    height:75px;
    margin: 5%;
    padding:5%;
}

.otherlinks li{
    margin:1.5%;
    padding:1.5%;
}
@keyframes bgcolor{
    0%{
        /* background-color: rgb(231, 218, 36); */
        letter-spacing: 4px;
    }
    25%{
        /* background-color: rgb(172, 226, 24); */
        letter-spacing: 6px;
    }
    50%{
        /* background-color: rgb(33, 164, 184); */
        letter-spacing: 8px;
    }
    75%{
        background-color: rgb(54, 88, 104);
        letter-spacing: 9x;
    }
       
}



@keyframes text{
    0%{
        margin-bottom: -100px;
    }
    30%{
        letter-spacing: 26px;
        margin-bottom: -100px;
    }
    80%{
        letter-spacing: 10px;
        margin-bottom: -100px;
    }
}

@media only screen and (maxwidth:900px)
{
    text1{
        font-size: cal(100%+1vh+1vw);
    }
}

@media only screen and (maxwidth:775px){
    #section3 div:nth-child(3){
        display:none;
    }
    #empty{
        display:none;
    }
    #content5{
        overflow:scroll;
    }
    .text1{
       font-size: 20vw;
    }
    .appbody{
        min-width: 90%;
    }
    .section{
        display: flex;
        flex-wrap: wrap
    }
    .appbodycontent{
        min-width: 90%;
    
    }
   
}